- content_for :head do
  %title AIIT: PR Page
%header.cf
  %h1 Advanced Institute of Industrial Technology
  %p 産業技術大学院大学
%nav.cf
  %ul
    %li AIITのご紹介
    %li About
    %li Products
%article
  %section
    %h2 hogehoge
    %p こんにちは
  %section
    %h2 ばか
    %p あほ
